<div class="flex-div" style="flex-direction: column; margin: auto auto">
    <img style="display: block; margin-bottom: 60px" src="../../assets/recources/Images/DS2017_TP09_color@2x.png"
        alt="Logo">

    <!-- <input [(ngModel)]="veryImpressivePrint" type="text" name="veryImpressive" id="">
    <button (click)="onVeryImpressiveClick()">it's very impressive!</button>
    <button (click)="onAddSomeNameClick()">Add some name</button>
    <button (click)="onDoSomeChangeClick()">Do some change</button> -->

    <!-- <ul *ngFor="let user of users, index as i">
        <li>{{user}} <button (click)="onItemDelete(i)">delete</button></li>
    </ul> -->

    <h4>Вход в систему</h4>
    <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
        <!-- Email -->
        <div>
            <label for="email">Email: </label>
            <input ngModel #emailInput="ngModel" id="email" name="email" type="email" email="true" required>
            <div class="form-error-log" *ngIf="emailInput.touched && emailInput.errors != null">
                <div class="form-error-log-item" *ngIf="emailInput.errors['required']">
                    Email field must be filled
                </div>
                <div class="form-error-log-item" *ngIf="emailInput && emailInput.errors['email']">
                    That is not correct email
                </div>
            </div>
        </div>
        <div>
            <label for="password">Password: </label>
            <input ngModel #passwordInput="ngModel" minlength="4" id="password" name="password" type="password" required
                pattern="^(?=.*[A-z0-9]).{4,64}$">
            <div class="form-error-log" *ngIf="passwordInput.touched && passwordInput.errors != null">
                <div class="form-error-log-item" *ngIf="passwordInput.errors['required']">
                    Password field must be filled
                </div>
                <div class="form-error-log-item" *ngIf="passwordInput.errors['minlength']">
                    Password must be at least 4 characters long
                </div>
                <div class="form-error-log-item" *ngIf="passwordInput.errors['pattern']">
                    only A-Z, a-z and 0-9 symbols allowed
                </div>
            </div>
        </div>
        <!-- buttons -->
        <div>
            <input type="submit">
            <button (click)="onClickButton(emailInput)">Do something</button>
            <a routerLink="/admin_panel">link to admin panel</a>
        </div>
    </form>
</div>