<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <app-header></app-header>

  <!--page controller should be here, but div right now -->
  <div>
    <div style="max-width: 1200px; margin: auto auto;">
      <!-- <app-admin-main-page></app-admin-main-page> -->
      <!-- <app-login-page></app-login-page> -->
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>

</body>

</html>