.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  display: block;
  justify-self: flex-start;
}
.header-logo-img {
  display: block;
  height: 40px;
  margin: 26px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.user-bar {
}

.username-label {
  padding: 8px;
}

.exit-button {
  color: red;
}

.nav-item {
  padding: 8px 16px;
  color: black;
  font-style: normal;
}

.nav-item__active {
  background-color: rgb(245, 245, 245);
}
