
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  display: block;
  justify-self: flex-start;
}
.header-logo-img {
  display: block;
  height: 40px;
  margin: 26px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.user-bar {
  
}

.username-label {
  padding: 8px;
}

.exit-button {
  color: red;
}