<div class="header">
  <a href="" class="header-logo-link"
    ><img
      src="../../../assets/recources/Images/DS2017_TP09_color.png"
      alt="Logo"
      class="header-logo-img"
  /></a>

  <div class="header-nav">
    <div>
      <a
        routerLink="/user_list"
        routerLinkActive="nav-item__active"
        class="nav-item"
        >User list</a
      >
      <a
        routerLink="/flight_list"
        routerLinkActive="nav-item__active"
        class="nav-item"
        >Flight list</a
      >
      <a
        routerLink="/flight_search"
        routerLinkActive="nav-item__active"
        class="nav-item"
        >Flight search</a
      >
      <a
        routerLink="/user_main"
        routerLinkActive="nav-item__active"
        class="nav-item"
        >User main</a
      >
    </div>

    <div class="flex-div user-bar">
      <div class="username-label">logged into: myUsername</div>
      <a href="" class="exit-button">Exit</a>
    </div>
  </div>
</div>
