<div class="flex-div" style="flex-direction: column; align-items: stretch;">
  <div style="display:block;">
    <div class="flex-div" style="justify-content: flex-start;">

      <button (click)="onAddUserButtonClick()">Add User</button>

      <div style="margin-right: 8px;">Office:</div>
      <select name="office" id="office">
        <option value="the-only-one">The only one</option>
      </select>
      <button>Change Role</button>
      <button>Enable/Disable Login</button>
    </div>

    <table style="width: 100%">
      <thead>
        <tr style="font-weight: bold">
          <td>Name</td>
          <td>Last Name</td>
          <td>Age</td>
          <td>User Role</td>
          <td>Email Address</td>
          <td>Office</td>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of this.users, index as i" [routerLink]="['/user_list', user.id]">
          <td>{{user.ID}} - {{user.FirstName}}</td>
          <td>{{user.LastName}}</td>
          <td>{{user.Birthdate}}</td>
          <div [ngSwitch]="user.RoleID">
            <td *ngSwitchCase="1" style="font-weight: normal">Admin</td>
            <td *ngSwitchCase="2" style="font-weight: normal">User</td>
          </div>
          <td>{{user.Email}}</td>
          <td>{{user.OfficeID}}</td>


        </tr>
      </tbody>

      <tfoot></tfoot>
    </table>
  </div>
</div>